!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title><%=title %></title>
  </head>

  <body>
    <h1>Halaman Index</h1>
    <a href = "/supervisor"></a>
    <a href = "/project">Back To Home</a>
  </body>
